*{ margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
header ul{     
  
background-color: blueviolet;
height: 35px;
width: 100%;
font-family: sans-serif;
position: fixed;
list-style: none;
text-align: center;

}  

.menu{
    text-align: center;
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding-top: 8px;
}


a {
color:azure;
text-decoration: none;
}

a:hover{
color: black;

}

.txtfoto {
color: azure;
font-size: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 100%;
text-align: center;
padding: 50px 0 0 50px;

}

.imgro{
width: 100%;
margin-top: 150px;
margin-left: 190px;
}
.andtxt {
color: azure;
}

.recados_titulo{
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: inline-block;
vertical-align: top ;
width: 100%;
align-items: center;
margin-left: 10px;
text-align: center;

}
.txtrecado{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
margin-top: 50px;
margin-left: 15%;
margin-right: 17%;



}
.andtxt{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 13px;
text-align:left;
margin-top: 10px;
margin-left: 350px;
margin-bottom: 80px;
}

#cartas{
color: azure;
width: 100%;

}
.video{
    margin-left: 70px;
    width: 100%;
}

#fotos h2{
    color: azure;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 10px;
    width: 100%;
    }

#fotos {
display: grid;
width: 100%;
grid-template-columns: 2fr;
padding: 0 0 0 180px;
width: 100%;

}

.teste{
    width: 100%;
    border-radius: 20px;
    max-width: 250px; max-height: 250px;
    

}

.teste:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.txt_footer{
background-color: blueviolet;
color: azure;
height: 35px;
width: 600px;
align-items: center; 
font-family: sans-serif;
padding-top: 25px; 
margin-top: 35px;
font-size: 17px;
display: flex;
justify-content: center;
padding-bottom: 19px;
}

section {
    min-height: 100vh;
    padding-top: 3rem;
}
