*{ margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
header ul{     
width: 100%;
position: fixed;

}  

.menu{
    text-align: center;
    width: 480px;
    justify-content: space-around;
    display: table-columns;
    padding-top: 8px;
    position: fixed;
}

.navtxt1{
    background-color: blueviolet;
    width: 100%;
    height: 35px;
    font-family: sans-serif;
    position: fixed;
    list-style: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.navtxt2{
    background-color: blueviolet;
    width: 100%;
    height: 55px;
    font-family: sans-serif;
    font-size: 30px;
    position: fixed;
    list-style: none;
    text-align: center;
    margin-top: 35px ;
   font-weight: bold;
}
.navtxt3{
    background-color:blueviolet;
    width: 100%;
    height: 35px;
    font-family: sans-serif;
    font-size: 30px;
    position: fixed;
    list-style: none;
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
}
a {
color:azure;
text-decoration: none;
}

a:hover{
color: black;

}

.txtfoto {
display: flex;
color: azure;
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 200%;
text-align:center;
align-items: center;
padding: 60px 40px 50px 60px;

}

.imgro{
width: 100%;
margin-top: 150px;
margin-left: 280px;
}

.recados_titulo{
font-size: 35px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
vertical-align: top ;
width: 100%;
align-items: center;
margin-left: 350px;
text-align: center;
margin-top: 250px;

}
.txtrecado{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
margin-top: 150px;
margin-left: 200px;
text-align:center;
display:flex;
width: 100%;


}
.andtxt{
color: azure;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 24px;
text-align: left;
margin-top: 10px;
margin-left: 350px;
margin-bottom: 80px;
}

#cartas{
color: azure;
width: 100%;

}
.video{
    margin-left: 220px;
    width: 100%;
}

#fotos h2{
    color: azure;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 10px;
    width: 100%;
    }

#fotos {
display: grid;
width: 100%;
grid-template-columns: 2fr;
padding: 0 0 220px 120px;
gap: 50px;
width: 100%;
margin-left: 175px;

}

.teste{
    width: 100%;
    border-radius: 20px;
    max-width: 250px; max-height: 250px;
    

}

.teste:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.rodape{
    width: 800px;  
}
.txt_footer {
    background-color: blueviolet;
    color: azure;
    height: 35px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    
}

section {
    min-height: 100vh;
    padding-top: 3rem;
}
