*{ margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
header ul{     
  
background-color: blueviolet;
height: 35px;
width: 100%;
font-family: sans-serif;
position: fixed;
list-style: none;
text-align: center;

}  

.menu{
    text-align: center;
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding-top: 8px;
}


a {
color:azure;
text-decoration: none;
}

a:hover{
color: black;

}

.txtfoto {
display: flex;
color: azure;
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 200%;
text-align:center;
align-items: center;
padding: 60px 40px 50px 100px;

}

.imgro{
width: 100%;
margin-top: 150px;
margin-left: 350px;
max-width: 250px; max-height: 250px;
}
.andtxt {
color: azure;
}

.recados_titulo{
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
vertical-align: top ;
width: 100%;
align-items: center;
margin-left: 300px;
text-align: center;

}
.txtrecado{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
margin-top: 50px;
margin-left: 250px;
text-align:center;
display:flex;
width: 100%;


}
.andtxt{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
text-align: left;
margin-top: 10px;
margin-left: 350px;
margin-bottom: 80px;
}

#cartas{
color: azure;
width: 100%;

}
.video{
    margin-left: 270px;
    width: 100%;
}

#fotos h2{
    color: azure;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 10px;
    width: 100%;
    }

#fotos {
display: grid;
width: 100%;
grid-template-columns: 2fr;
padding: 0 0 220px 180px;
gap: 50px;
width: 100%;
margin-left: 175px;

}

.teste{
    width: 100%;
    border-radius: 20px;
    max-width: 250px; max-height: 250px;
    

}

.teste:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.txt_footer {
    background-color: blueviolet;
    color: azure;
    display: flex;
    height: 35px;
    width: 200%;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    
}

section {
    min-height: 100vh;
    padding-top: 3rem;
}
